@model RegistrationRequestDto

<form method="post">
    <div class="container border-white p-4">
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" asp-for="Email" placeholder="Email....">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Name....">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="row mb-3">
            <label class="form-label">PhoneNumber</label>
            <input class="form-control" asp-for="PhoneNumber" placeholder="Phone number....">
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="row mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" asp-for="Password" placeholder="Password....">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="row text-center mb-3">
            <select asp-for="Role" class="form-control" asp-items="@ViewBag.roleList">
            <option disabled selected>--Select role--</option>    
            
            </select>
        </div>
        <div class="row text-center">
            <button type="submit" class="btn btn-primary col-12">Register</button>
        </div>
    </div>
</form>